# docker-compose.yml - UH Groupings - dev environment

# The build.sh script will invoke Docker to build this stack.

services:
  groupings-base:
    build:
      dockerfile: Dockerfile-base
    image: groupings-base-image
    command: /bin/sh -c "echo 'Groupings project base image - built using Rocky Linux 9.4, OpenJdk 17.'"

  groupings-api:
    build:
      dockerfile: Dockerfile-api
    depends_on:
      - groupings-base
    ports:
      - "8081:8081"
    volumes:
      - ${GROUPINGS_API_DIR}:/app/groupings # Hot reload directory
      - ${GROUPINGS_OVERRIDES}:/overrides
      - ${HOME}/.m2:/root/.m2  # Cache Maven dependencies and hot reload updated dependencies
    environment:
      - SPRING_PROFILES_ACTIVE=dockerhost
      - spring.config.import=optional:file:/overrides/uh-groupings-api-overrides.properties, vault://cubbyhole/uhgroupings
      - spring.cloud.vault.enabled=true
      - spring.cloud.vault.uri=http://host.docker.internal:8200
#       spring.cloud.vault.token= xxx.xxxxxxxxxxxxxxxxxxxx
#       The property above should be in the uh-groupings-api.override properties file of your local machine ({user.name}.conf directory)

  groupings-ui:
    build:
      dockerfile: Dockerfile-ui
    depends_on:
      - groupings-api
    ports:
      - "8080:8080"
    volumes:
      - ${GROUPINGS_UI_DIR}:/app/groupings  # Hot reload directory
      - ${GROUPINGS_OVERRIDES}:/overrides
      - ${HOME}/.m2:/root/.m2  # Cache Maven dependencies and hot reload updated dependencies
    environment:
      - SPRING_PROFILES_ACTIVE=dockerhost
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      - HEALTH_CHECK_URL="http://groupings-api:8081/uhgroupingsapi/api/groupings/v2.1/"
      - HEALTH_CHECK_INTERVAL=30   # Interval between retries in seconds
      - HEALTH_CHECK_TIMEOUT=10    # Timeout for each curl command in seconds
      - HEALTH_CHECK_RETRIES=50     # Number of retries before giving up